<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="pragma" content="no-cache">
  <link rel="stylesheet" type="text/css" href="public/semantic/semantic.css">
  <link rel="stylesheet" type="text/css" href="public/css/itpub.css">
  <script type="text/javascript" src="public/js/jquery.js"></script>
  <script type="text/javascript" src="public/semantic/semantic.js"></script>
</head>
<body class="">
</body>
<div class="search ui input">
	<input type="text" name="search" placeholder="Search...">
</div>
<div class="result"></div>
<script type="text/javascript" src="public/js/itpub.js"></script>
</html>